<template name="header">
  <header class="navbar navbar-default">
    <div class="navbar-header">
      <a class="brand" href="{{pathFor 'weixin'}}">
        <img src="/assets/logo.png" alt="XinPlus">
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{pathFor 'weixin'}}">首页</a></li>
        <li><a href="{{pathFor 'staffChat'}}">客服中心</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>
    </div>
  </header>
</template>

