<template name="header">
  <header class="navbar navbar-default">
    <div class="navbar-header">
      <a class="brand" href="{{pathFor 'weixin'}}">
        <img src="/assets/logo.png" alt="XinPlus">
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <li><a href="{{pathFor 'weixin'}}">首页</a></li>
        {{#if currentUser}}
          <li><a href="{{pathFor 'staffChat'}}">客服中心</a></li>
          <li>{{> accountList}}</li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>
    </div>
  </header>

  {{> accountModal}}
</template>

<template name="accountList">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      微信公众号
      {{#if account.name}}
        : {{account.name}}
      {{/if}}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {{#if account}}
        <li><span class="dropdown-menu-title">当前使用：{{account.name}}</span></li>
        <li><a href="{{pathFor 'accountInfo'}}">
          查看当前帐号信息
        </a></li> 
      {{/if}}
      {{#if accounts}}
      <li><span class="dropdown-menu-title">其他帐号</span></li>
        {{#each accounts}}
          {{> accountDropdown}}
        {{/each}}
      {{/if}}
      <li>
        <a class="dropdown-menu-sub-footer" id="addAccount" data-toggle="modal" data-target="#accountModal">
          新建帐号
        </a>
      </li>
    </ul>
</template>

<template name="accountDropdown">
  <li><a href="#">{{name}} ({{weixin_id}})</a></li>
</template>

<template name="accountModal">
  <!-- Modal -->
  <div class="modal fade" id="accountModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">帐号信息</h4>
        </div>
        <form class="form">
          <div class="modal-body">
              <div class="form-group">
                <label class="control-label" for="account_name">名称</label>
                {{#if accountSelected}}
                  <input type="text" class="form-control disabled" id="account_name" value="{{account.name}}" disabled="">
                {{else}}
                  <input type="text" class="form-control" id="account_name" value="{{account.name}}">
                {{/if}}
              </div>
              <div class="form-group">
                <label class="control-label" for="gh_id">原始ID</label>
                {{#if accountSelected}}
                  <input type="text" class="form-control disabled" id="gh_id" value="{{account.gh_id}}" disabled="">
                {{else}}
                  <input type="text" class="form-control" id="gh_id" value="{{account.gh_id}}">
                  <p class="help-block">e.g. gh_xxxxxxxx</p>
                {{/if}}
              </div>
              <div class="form-group">
                <label class="control-label" for="weixin_id">微信号</label>
                {{#if accountSelected}}
                  <input type="text" class="form-control disabled" id="weixin_id" value="{{account.weixin_id}}" disabled="">
                {{else}}
                  <input type="text" class="form-control" id="weixin_id" value="{{account.weixin_id}}">
                {{/if}}
              </div>
              <div class="form-group">
                <label class="control-label" for="app_id">App ID</label>
                <input type="text" class="form-control" id="app_id" value="{{account.app_id}}">
              </div>
              <div class="form-group">
                <label class="control-label" for="app_secret">App Secret</label>
                <input type="text" class="form-control" id="app_secret" value="{{account.app_secret}}">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button tyoe="button" class="btn btn-primary">
              {{#if accountSelected}}
                Save
              {{else}}
                Create
              {{/if}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

