<template name = "footer">
  <footer>
    <div class="container-fluid footer-style">
      <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-2">
          <p class="text-center">
            <br>
            <br>
            联系方式 bd@xin.io <br>
            或微信扫描右侧二维码 <br>
            深圳 | 上海 | 香港 <br>
            ©信+团队 2013 - 2014 
          </p>
        </div>
        <div class="col-xs-2">
          <img src="/assets/aiqinkefu_qrcode.png" alt="信+公众号">
        </div>

      </div>
    </div>
  </footer>
</template>